<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Mis Pedidos - Makatos Sport</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>


	<div class="container mt-4">
		<h1>Mis Pedidos</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Fecha</th>
					<th>Total</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${pedidos}">
					<td th:text="${pedido.id}">1</td>
					<td th:text="${#dates.format(pedido.fecha, 'dd/MM/yyyy')}">19/05/2025</td>
					<td th:text="${pedido.total}">250.00</td>
					<td th:text="${pedido.estado}">ENVIADO</td>
					<td><a th:href="@{/compra/detalle/{id}(id=${pedido.id})}"
						class="btn btn-info">Detalles de la compra</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
